<p>scrolls works!</p>

<div class="box" (scroll)="onScroll($event)">
    <p>El estoicismo es una escuela filosófica fundada por Zenón de Citio en Atenas a principios del siglo III a. C.1​ Es una filosofía de ética personal basada en su sistema lógico y sus puntos de vista sobre el mundo natural. Los estoicos creían que todo alrededor operaba según una ley de causa y efecto, resultando en una estructura racional del universo. Pensaban que "no podemos controlar lo que pasa a nuestro alrededor, pero sí podemos controlar lo que pensamos sobre estos eventos" en vez de imaginar una sociedad ideal falsamente positiva.2</p>
</div>